body { 
	font-family: Arial;
	margin: 0px;
}

ul {

list-style:none;

}

img {
	width: 33%;
	height: 33%;
	/*adjusting borders*/

}


p {
	margin: 0;
	padding: 20px 20px 20px 20px;
}


a {
	color: orange;
}


.profile-pic {	
	width: 300px;
	margin: 0 auto;
	padding: 100px 20px 20px 20px;
	

}

.profile-pic img {
	border-radius: 100%;
	display: block;
	margin: 0 auto;
}

.profile-pic img:hover {
	border: 1px solid white;
}

.top-section {
	background-image: url("wallpaper.jpg");

}

.main-title {

}


.special {
	font-weight: bold;
	color: white;
	text-align: center;

}





.headings {
	width: 300px;
	margin: 0 auto;
	color: white;
	text-align: center;
}

.paragraphs {
	
	width: 300px;
	margin: 0 auto;
	text-align: center;


}

.nav-bar li {
	display: inline-block;
	padding-right: 30px;
	padding-top: 12px
	;

}

.nav-bar ul {
	text-align: right;
	margin: 0;
}

.nav-bar {
	background-color: #cce6ff;
	height: 50px;
	position: fixed;
	width: 100%;
}


.about-me {
	background-color: #cce6ff;
	text-align: center;
}

.about-title {
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: 3px solid red;
}


.about-img {
	width: 33%;
	display: inline-block;
}


.about-body {
	width: 33%;
	display: inline-block;
	vertical-align: top;
}


.about-thirdpanel {
	width: 33%;
	display: inline-block;
	vertical-align: top;
}

@media only screen and (max-width: 900px) {
	.about-img {
		width: 100%;
	}

	.about-img img {
		width: 25%;
	}

	.about-body {
		width: 100%;
	}
	.about-body img {
		width: 25%;
	}

	.about-thirdpanel {
		width: 100%;
	}
	.about-thirdpanel img {
		width: 25%;
	}

}

.contact-title {
	padding-top: 50px;
	padding-bottom: 50px;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.contact-me {
	width: 33%;
	vertical-align: top;
	margin: 0 auto;
}

.contact-me p {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	padding: 0 auto;
}

.contact-me img {
	width: 30px;
	height: 30px;
}

.phone, .email {
	text-align: center;
}

.email {

}


@media only screen and (max-width: 720px) {
	.contact-me img {
		display: inline-block;
	}

	.contact-me p {
		display: block;

	}

	.contact-me {
		width:100%;
	}

}


.bottom {
	background-color: #ccffdd;
}



.background {
	width: 400px;
	height: 300px;
	background-color: green;
	position: relative;
}

.headline {
	width: 100px;
	height: 100px;
	background-color: rgba(0, 47, 108, 0.5);
	position: absolute;
	bottom: 0;
	
}





/* CSS will pick the one more specific, or whichever rule comes later down the code */